# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage
*.log

# Build outputs
dist
build
.next
out
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local

# IDEs
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Mobile
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
.expo/
.expo-shared/

# Misc
*.pem
.turbo
